<h1>Packing Lists</h1>

<table>
  <tr>
    <th>List</th>
    <th>Pack By</th>
  </tr>
  <% @lists.each do |list| %>
    <tr>
      <td><%= link_to list.name, list_path(list.id) %></td>
      <td><%= list.deadline_date %></td>
    </tr>
  <% end %>
</table>

<%= button_to '+ New List', new_list_path, :method => :get%>
