<h2>Packing Lists</h2>

<% if @lists.empty? %>
  <p>You don't have any packing lists yet.</p>
<% end %>

<div id="list-table-div">
  <table id="list-table">
    <% @lists.each do |list| %>
      <tr>
        <td class="list-link"><%= link_to list.name, list_path(list.id) %></td>
        <td><%= list.deadline_date %></td>
      </tr>
    <% end %>
  </table>

  <%= button_to '+ New List', new_list_path, :method => :get, class: "btn btn-primary btn-md new" %>
</div>
