<h1>Show Page</h1>

<div>
  <%= link_to '+ Add New Item', new_list_item_path(@list) %>
  <%= link_to '+ Add Item from Existing', items_path %>
  <button id="clear">Clear</button>
</div>

<%= @list.name %>

<ul>
<% @list.items.each do |item| %>
  <li><%= item.item_name %></li>
<% end %>
</ul>
