<h1><%= @list.name %></h1>

<div>
  <span><%= link_to '+ Add New Item', new_list_item_path(@list) %></span>
  <button class="add-existing">+ Add Item from Existing</button>
  <button class="clear">Clear</button>
</div>

<ul>
<% @list.items.each do |item| %>
  <li><%= item.item_name %></li>
<% end %>
</ul>
