<h2>All Items</h2>

<div>
  <ul>
    <% @items.each do |item| %>
     <li><%= item.item_name %><button id="add-button-<%= item.id %>" class="add-button">+ Add</button></li>
    <% end %>
  </ul>
</div>
