body {
  font-family: 'Muli', sans-serif;
}

.checked-off {
  color: gray;
  text-decoration: line-through;
}

.added-from-existing {
  color: gray;
}

#existing-list {
  display: none;
}

.container {

}

#sign-out {
  float: right;
}

#new-list-link {
  float: left;
}

#sign-in {
  float: right;
}

#sign-up {
  float: right;
}

.nav-bar {
  background-color: #33CCCC;
  font-size: 17px;
  height: 50px;
  padding-top: 5px;
}

.nav-ul li {
  display: inline-block;
  font-size: 80%;
  padding: 0 10px;
}

.nav-ul {
  padding-left: 10px;
  margin-top: 10px;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

.app-name {
  color: white;
  margin-right: 0;
  width: 100px;
  font-size: 20px;
}

.app-name a {
  font-size: 20px;
}

/*.nav-ul li a:link {
  color:white;
}*/

#list_name {
  width: 200px;
}

#list_deadline_date {
  width: 200px;
}

#list_deadline_time {
  width: 200px;
}

#item_item_name {
  width: 200px;
}

#item_category {
  width: 200px;
}

#new-form {
  margin-left: 43px;
}

#edit-form {
  margin-left: 43px;
}

#new-item-form {
  margin-left: 43px;
}

#list-table-div {
  margin-left: 43px;
}

.list-link a {
  color: #33CCCC;
  margin-right: 15px;
}

#user_remember_me {
  width: 20px;
}

#items_checkbox_ {
  width: 20px;
}

.btn.btn-primary {
  background-color: #FF9640;
  border-color: #FF9640;
}
